@charset "utf-8";
img { border: 0px; }
.bannerbox { width: 1000px; height: 145px; overflow: hidden; margin: 0px auto;}
#focus_slide { width: 1000px; height: 145px; clear: both; overflow: hidden; position: relative; float: left; }
#focus_slide ul { width: 1000px; height: 145px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
#focus_slide ul li { float: left; width: 1000px; height: 145px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
#focus_slide .preNext { width: 50px; height: 132px; position: absolute; top: 0px; cursor: pointer; }
#focus_slide .pre { left: 0; background: url(sprite.png) no-repeat left center; }
#focus_slide .next { right: 0; background: url(sprite1.png) no-repeat right center; }
	
#focus_slide_li { float: left; width: 200px; height: 145px; text-align:center; margin-top:5px;}


.photo_sy a{position:relative; display:block;padding:0}
.photo_sy a:hover{text-decoration:none}
.photo_sy a span {display:none;cursor:hand;text-align:center; width:100%; line-height:24px; margin:0;background:#000;display:block;position:absolute;bottom:0;left:0;color:#fff;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}